.footer-bg {
    background-color: #24292f;
    position: fixed;
    bottom: 2%;
    right: 2%;
    border-radius: 10px;
    transition: 0.25s ease-in-out;

    &:hover {
        transform: scale(1.05);
        background-color: #353e45;
        cursor: pointer;
    }

    i {
        padding: 18px 0px;
        color: white;
    }
}