.custom-card {
    border: 1px solid rgb(196, 196, 196);
    margin: 8px 0px;
    padding-top: 5px;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background: linear-gradient(220deg, rgba(255, 90, 90, 1) 16%, rgba(35, 49, 57, 1) 68%);

    img {
        margin: 5px;
    }

    h6 {
        color: white;
    }

    h4 {
        color: white;
        font-size: 19px;
    }
}

.search-name {
    width: 100%;
    padding: 6px;
    border-radius: 8px;
    outline: none;
}

.search-type {
    width: 100%;
    padding: 7px;
    border-radius: 8px;
    border: 2px solid black;
    outline: none;
}

.custom-btn {
    background-color: #212529;
    color: white;
    padding: 8px 14px;
    border-radius: 10px;
    border: none;
    transition: 0.25s ease-in-out;

    &:hover {
        background-color: #3a5066;
        transform: scale(1.05);
    }
}