.back-button {
    margin-top: 10px;
    background-color: #212529;
    color: white;
    padding: 8px 14px;
    border-radius: 10px;
    border: none;
    transition: 0.25s ease-in-out;

    i {
        font-size: 24px;
    }

    &:hover {
        background-color: #3a5066;
        transform: scale(1.05);
    }
}

.custom-card-2 {
    border: 1px solid rgb(196, 196, 196);
    color: #ffffffeb;
    margin: 8px 0px;
    padding: 5px 0 25px 0;
    width: 100%;
    background: linear-gradient(220deg, rgba(255, 90, 90, 1) 16%, rgba(35, 49, 57, 1) 68%);
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    img {
        margin: 5px;
        padding: 10px;
        background-color: rgba(255, 255, 255, 0.704);
        border-radius: 50%;
    }

    .pokemon-name {
        text-transform: uppercase;
        font-size: 40px;
    }

}

h1,
h3 {
    text-align: center;
    font-size: 27px;
}