.back-button {
    margin-top: 10px;
    background-color: #212529;
    color: white;
    padding: 8px 14px;
    border-radius: 10px;
    border: none;
    transition: 0.25s ease-in-out;

    i {
        font-size: 24px;

    }

    &:hover {
        background-color: #3a5066;
        transform: scale(1.05);
    }
}

.custom-card-2 {
    border: 1px solid rgb(196, 196, 196);
    margin: 8px 0px;
    padding: 5px 0 25px 0;
    width: 100%;
    background: linear-gradient(90deg, rgba(199, 145, 223, 1) 0%, rgba(235, 203, 234, 1) 35%, rgba(225, 240, 244, 1) 93%, rgba(189, 230, 238, 1) 100%);
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

    img {
        margin: 5px;
    }
}

h1,
h3 {
    text-align: center;
}